# data preprocessing config
process.max_length=64

process.query_col=query
process.product_col=product_title
process.id_col=query_id
process.label_col=esci_label

# general training config
train.lr=1e-5
train.n_epoch=3
train.print_freq=15000
train.save_model_dir=models/task1_deltaNDCG_model.pt
train.device=cuda

# model config
train.model.pretrained_model=cross-encoder/mmarco-mMiniLMv2-L12-H384-v1

# lr scheduler config
train.lr_scheduler.factor=0.9
train.lr_scheduler.cooldown=20
train.lr_scheduler.patience=20
train.lr_scheduler.min_lr=5e-6

# ndcg config
train.ndcg.sigma=1.0
train.ndcg.gain_type=exp2
# end
