# data preprocessing config
process.max_length=64
process.batch_size=32

process.hdfs.use=false
process.hdfs.save_dir=/
process.hdfs.hosts=hdfs://192.168.204.142:9820
process.hdfs.user=root

process.cache_available=false
process.cache.train_dir=cache/task2_train.pickle
process.cache.dev_dir=cache/task2_dev.pickle
process.cache.test_dir=cache/task2_test.pickle

process.data_cols=query,product_title,product_brand,product_color
process.label_col=esci_label

# general training config
train.lr=1e-5
train.n_epoch=3
train.print_freq=100
train.save_model_dir=models/task2_baseline_model.pt
train.device=cuda

# model config
train.model.pretrained_model=bert-base-multilingual-uncased
train.model.dense_layers=128,64
train.model.act=relu

# lr scheduler config
train.lr_scheduler.factor=0.9
train.lr_scheduler.cooldown=20
train.lr_scheduler.patience=20
train.lr_scheduler.min_lr=5e-6
# end
